<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.runtian.helpcommunity.mainpart.mapper.HelpCommentMapper">

    <resultMap id="BaseResultMap" type="dev.runtian.helpcommunity.commons.helpcommnet.HelpComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="postId" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,content,
        thumbNum,userId,createTime,
        updateTime,isDelete
    </sql>
    <select id="selectDeletedCommentsByPage"
            resultType="dev.runtian.helpcommunity.commons.helpcommnet.HelpComment">
        SELECT *
        FROM help_comment
        WHERE isDelete = 1
    </select>
</mapper>
